<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    id="org.apache.cordova.plugin.Exif"
	xmlns:android="http://schemas.android.com/apk/res/android"
    version="1.0.0">

    <name>ExifPlugin</name>

  <description>
    Exif Plugin for Steroids.js
  </description>

  <asset src="www/ExifPlugin.js" target="plugins/ExifPlugin.js" />

  <engines>
    <engine name="cordova" version=">=2.7.0" />
  </engines>

  <!-- android -->
  <platform name="android">
    <config-file target="res/xml/config.xml" parent="plugins">
      <plugin name="Exif" value="org.apache.cordova.plugin.Exif"/>
    </config-file>

    <source-file src="src/android/org/apache/cordova/plugin/Exif.java"
      target-dir="src/org/apache/cordova/plugin" />
  </platform>

</plugin>